body{
  overflow-x: hidden;
  width: 100vw;
}
.map-name{
  height:50px !important;
}
.utility .collapse{
  display:flex !important;
}
.utility{
    height: 44px;
    background: white !important;
    color: #ddd !important;
}

.utility a.navbar-brand{
    color: rgb(71, 71, 71) !important;
}
.nav-item .nav-link-icon i{
    color: rgb(71, 71, 71) !important;
}

/* .nav-item.priv::before{
    content: 'cisajoais';
    display: inline-block;
    width:100px;
    height:40px;
} */
.custom-toggle.private::before{
    content: 'Private';
    position: absolute !important;
    top:0;
    left: -70px;
}
.custom-toggle.private::after{
    content: 'Public';
    position: absolute !important;
    top:0;
    right: -70px;
    color: blue;

}
.input-control{
    background: transparent;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid gray;
    padding:5px 5px 5px 20px;
}





.input-control:focus{
    outline: none;
}
.input-control::before{
    content: 'chsdc';
    position: absolute;
}


/* modal */
.modal-header{
    background: #153590;
}
.modal-title{
    color: #fff;
}


/* map */
#mapid {
    height: calc(100vh - 105px);
}




.legend {
    padding: 6px 8px;
    width: 300px;
    height: auto;
    max-height:350px;
    /* overflow: hidden; */
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    line-height: 24px;
    color: #555;
    transition: all .3s linear;
    opacity: 1 !important;
    display: block !important;
  }
  .legend-content{
    overflow-y: scroll ;
    overflow-x: hidden;
    height: 300px;
  }
  .trans-open{
    transform: translateX(-325px)
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }

  .legend span {
    position: relative;
    bottom: 3px;
  }

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }

  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }


  .legend .anchor{
    padding: 10px;
    height: 35px;
    line-height: 10px;
    /* width: 30px; */
    /* height: 30px; */
    background: rgb(0, 9, 138);
    /* padding: 10px;   */
    position: absolute;
    top:0;
    left: 101%;
    padding: 5px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }


  .map-sidebar .main-side-bar {
    padding: 6px 8px;
    width: 300px;
    min-height: 200px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
    transition: all .3s linear;
    opacity: 1 !important;
    display: block !important;
  }
  .slide-left{
    transform: translateX(322px)
  }
  .map-sidebar .main-side-bar h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: rgb(1, 6, 80);
  }

  .map-sidebar .main-side-bar span {
    position: relative;
    bottom: 3px;
  }

  .map-sidebar .main-side-bar i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }

  .map-sidebar .main-side-bar i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }


  .map-sidebar .main-side-bar .anchor{
    width: 30px;
    height: 30px;
    background: orange;
  /*   transform: translateX(200px); */
    position: absolute;
    top:0;
    right: 101%;
    padding: 5px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }




/* Custormize draw control */

.leaflet-draw-toolbar-top {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.leaflet-draw-toolbar {
    margin-top: 12px;
    display: flex;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
    display: flex;
}



.leaflet-draw-section {
    position: relative;
    margin-right: 5px;
}

ul.leaflet-draw-actions{
    background: orange !important;
    display: block;
    margin-top: 100px
}


/* Font Awesome marker */
.custom-div-icon i.awesome {
  margin: 12px auto;
  font-size: 18px;
  /* color: white */
}



.marker-pin-one {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin-two {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #180292;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
 }

.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

.custom-div-icon i.awesome {
   margin: 12px auto;
   font-size: 17px;
   color: white
}


.leaflet-top.leaflet-left{
  /* background: rebeccapurple; */
  display: flex;
  align-items: center;
  align-content: center;
}


/* Base MAp LEGENDS */
.map-sidebar button[data-target="#collapseOne"], button[data-target="#collapseTwo"], button[data-target="#collapse3"]{
  width: 100%;
}
.main-side-bar .card-header{
  height: 50px;
  padding: 0;
}
.base-map{
  max-height: 200px;
  overflow-y: scroll;
}
.card .map-thumb{
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
/*   background: blue; */
  margin: 5px;
}
/* .map-thumb::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  top:0;
  opacity: 0.3;
} */
.card .map-thumb img{
/*   border: 2px solid red;; */
  display: block;
  width: 100%;
}
.map-thumb-tag{
  position: absolute;
  bottom:10%;
  left:0;
  right:0;
  height: 25%;
  text-align: center;
  color: #fff;
  font-size: 10px;

  padding: 5px;
}
.map-thumb-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.leaflet-control-measure{
  margin-top: 20px !important;
}

/* DOM SIDEBAR */
.side-open{
  transform: translateX(120%)
}
.map-sidebar {
width:320px;
  /* min-height: 300px; */
background: #FCFCFC;
position: absolute;
right: 5%;
bottom: 5%;
padding: 10px;
-webkit-box-shadow: -9px 7px 47px -14px rgba(0,0,0,0.55);
-moz-box-shadow: -9px 7px 47px -14px rgba(0,0,0,0.55);
box-shadow: -9px 7px 47px -14px rgba(0,0,0,0.55);
transition: transform 0.4s ease-in-out;
z-index: 10000;
}

.sidebar-inner{
width:100%;
height: 100%;
min-height: 200px;
/*   background: red; */
position: relative;
bottom: -2%;
}

.sidebar-header{
margin-right: auto
}
.sidebar-anchor{
background:  rgb(0, 9, 138);
padding: 10px;
height: 35px;
line-height: 10px;
color: #fff;
position: absolute;
right: 100%;
}

.sidebar-inner .tab-content{
min-height: 200px;
max-height:400px;
overflow-y: scroll;
}


/* CUSTOMIZE SCROLL BAR */
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
display: none
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}

.map-thumb{
padding: 5px;
display: flex;
align-items: center;
height: 60px;
/*   background: red; */
transition: all .4s ease;
}
.base-active{
background: #7e8a9773;

}

.map-thumb:hover{
background: #f5f5f5;
}
.map-img{
max-width: 100%;
height: auto;
}
.img-map{
width: 50px;
height: 50px;
margin-right: 10px
}
.map-desc{
color: #333;
}
.sidebar hr{
  padding-top: 0 !important;
}

/* Layer Bar */
.layer{
  border-bottom: 1px dashed #1a174d;
  padding: 5px 0  0 5px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}


/* COlor */
/* #153590 -- main blue */
.class-white{
  color: white !important;
}
.head-img{
  /* background: linear-gradient(87deg, #5e72e4 0, #825ee4 0.52), url('../img/brand/bgMap.png') !important; */

 background:linear-gradient(to bottom, rgba(0, 0, 46, 0.836), rgba(0, 0, 34, 0.73)),
url('../img/brand/bgMap.png') !important;
}


/* MAP GRID */
.map-grid{
  cursor: pointer;
}


