.utility{
    height: 70px;
    background: white !important;
    color: #ddd !important;
}

.utility a.navbar-brand{
    color: rgb(71, 71, 71) !important;
}
.nav-item .nav-link-icon i{
    color: rgb(71, 71, 71) !important;
}

/* .nav-item.priv::before{
    content: 'cisajoais';
    display: inline-block;
    width:100px;
    height:40px;
} */
.custom-toggle.private::before{
    content: 'Private';
    position: absolute !important;
    top:0;
    left: -70px;
}
.custom-toggle.private::after{
    content: 'Public';
    position: absolute !important;
    top:0;
    right: -70px;
    color: blue;
    
}
.input-control{
    background: transparent;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid gray;
    padding:5px 5px 5px 20px;
}





.input-control:focus{
    outline: none;
}
.input-control::before{
    content: 'chsdc';
    position: absolute;
}


/* modal */
.modal-header{
    background: #153590;
}
.modal-title{
    color: #fff;
}


/* map */
#mapid { 
    height: 600px; 
}




.legend {
    padding: 6px 8px;
    width: 300px;
    min-height: 400px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
    transition: all .3s linear;
    opacity: 1 !important;
    display: block !important;
  }
  .trans-open{
    transform: translateX(-325px)
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  
  .legend .anchor{
    width: 30px;
    height: 30px;
    background: orange;
  /*   transform: translateX(200px); */
    position: absolute;
    top:0;
    left: 101%;
    padding: 5px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }


  .main-side-bar {
    padding: 6px 8px;
    width: 300px;
    min-height: 400px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
    transition: all .3s linear;
    opacity: 1 !important;
    display: block !important;
  }
  .slide-left{
    transform: translateX(322px)
  }
  .main-side-bar h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: rgb(1, 6, 80);
  }
  
  .main-side-bar span {
    position: relative;
    bottom: 3px;
  }
  
  .main-side-bar i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .main-side-bar i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  
  .main-side-bar .anchor{
    width: 30px;
    height: 30px;
    background: orange;
  /*   transform: translateX(200px); */
    position: absolute;
    top:0;
    right: 101%;
    padding: 5px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }




/* Custormize draw control */

.leaflet-draw-toolbar-top {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.leaflet-draw-toolbar {
    margin-top: 12px;
    display: flex;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
    display: flex;
}


  
.leaflet-draw-section {
    position: relative;
    margin-right: 5px;
}

ul.leaflet-draw-actions{
    background: orange !important;
    display: block;
    margin-top: 100px
}


/* Font Awesome marker */
.custom-div-icon i.awesome {
  margin: 12px auto;
  font-size: 18px;
  /* color: white */
}



.marker-pin-one {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin-two {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #180292;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
 }

.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

.custom-div-icon i.awesome {
   margin: 12px auto;
   font-size: 17px;
}