/* @media (max-width: 767.98px){
.navbar-nav .nav-link {
    padding: .625rem 0;
    color: #fff !important;
  }

  #navbar-default .navbar-bar{
    flex-direction: row !important;
    background: red;
  }
  #zoom-tool{
    background: red;
    flex-direction: row !important;
  }
}
@media (max-width: 812px){
  
    
    .utility{
      padding: 0 !important;
    }
  
    #zoom-tool{
      flex-direction: row !important;
      margin-left: auto;
    }
    #zoom-tool li{
      margin: 0 10px;
    }
  }

@media (max-width: 370px){
  .navbar-nav .nav-link {
      padding: .625rem 0;
      color: #fff !important;
    }
  }

  @media (max-width: 767.98px){
    .navbar-collapse{
      opacity: 1 !important;
      width: 100%;
      display: flex;
      
    }

    #navbar-default .navbar-bar{
      flex-direction: row !important;
      background: red;
    }
  } */


/* #sidenav-main{
  width:150px;
} */
.map-name{
  height:50px !important;
}
.utility .collapse{
  display:flex !important;
}
.utility{
    height: 44px;
    background: white !important;
    color: #ddd !important;
}

.utility a.navbar-brand{
    color: rgb(71, 71, 71) !important;
}
.nav-item .nav-link-icon i{
    color: rgb(71, 71, 71) !important;
}

/* .nav-item.priv::before{
    content: 'cisajoais';
    display: inline-block;
    width:100px;
    height:40px;
} */
.custom-toggle.private::before{
    content: 'Private';
    position: absolute !important;
    top:0;
    left: -70px;
}
.custom-toggle.private::after{
    content: 'Public';
    position: absolute !important;
    top:0;
    right: -70px;
    color: blue;
    
}
.input-control{
    background: transparent;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid gray;
    padding:5px 5px 5px 20px;
}





.input-control:focus{
    outline: none;
}
.input-control::before{
    content: 'chsdc';
    position: absolute;
}


/* modal */
.modal-header{
    background: #153590;
}
.modal-title{
    color: #fff;
}


/* map */
#mapid { 
    height: calc(100vh - 105px); 
}




.legend {
    padding: 6px 8px;
    width: 300px;
    height: auto;
    max-height:350px;
    /* overflow: hidden; */
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    line-height: 24px;
    color: #555;
    transition: all .3s linear;
    opacity: 1 !important;
    display: block !important;
  }
  .legend-content{
    overflow-y: scroll ;
    overflow-x: hidden;
    height: 300px;
  }
  .trans-open{
    transform: translateX(-325px)
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  
  .legend .anchor{
    width: 30px;
    height: 30px;
    background: orange;
  /*   transform: translateX(200px); */
    position: absolute;
    top:0;
    left: 101%;
    padding: 5px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }


  .main-side-bar {
    padding: 6px 8px;
    width: 300px;
    min-height: 200px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
    transition: all .3s linear;
    opacity: 1 !important;
    display: block !important;
  }
  .slide-left{
    transform: translateX(322px)
  }
  .main-side-bar h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: rgb(1, 6, 80);
  }
  
  .main-side-bar span {
    position: relative;
    bottom: 3px;
  }
  
  .main-side-bar i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .main-side-bar i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  
  .main-side-bar .anchor{
    width: 30px;
    height: 30px;
    background: orange;
  /*   transform: translateX(200px); */
    position: absolute;
    top:0;
    right: 101%;
    padding: 5px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }




/* Custormize draw control */

.leaflet-draw-toolbar-top {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.leaflet-draw-toolbar {
    margin-top: 12px;
    display: flex;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
    display: flex;
}


  
.leaflet-draw-section {
    position: relative;
    margin-right: 5px;
}

ul.leaflet-draw-actions{
    background: orange !important;
    display: block;
    margin-top: 100px
}


/* Font Awesome marker */
.custom-div-icon i.awesome {
  margin: 12px auto;
  font-size: 18px;
  /* color: white */
}



.marker-pin-one {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin-two {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #180292;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
 }

.custom-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

.custom-div-icon i.awesome {
   margin: 12px auto;
   font-size: 17px;
   color: white
}


.leaflet-top.leaflet-left{  
  /* background: rebeccapurple; */
  display: flex;
  align-items: center;
  align-content: center;
}


/* Base MAp LEGENDS */
button[data-target="#collapseOne"], button[data-target="#collapseTwo"], button[data-target="#collapse3"]{
  width: 100%;
}
.main-side-bar .card-header{
  height: 50px;
  padding: 0;
}
.base-map{
  max-height: 200px;
  overflow-y: scroll;
}
.card .map-thumb{
  position: relative;
  width: 100px;
  height: 100px;
/*   background: blue; */
  margin: 5px;
}
.map-thumb::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  top:0;
  opacity: 0.3;
}
.card .map-thumb img{
/*   border: 2px solid red;; */
  display: block;
  width: 100%;
}
.map-thumb-tag{
  position: absolute;
  bottom:10%;
  left:0;
  right:0;
  height: 25%;
  text-align: center;
  color: #fff;
  font-size: 10px;

  padding: 5px;
}
.map-thumb-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.leaflet-control-measure{
  margin-top: 20px !important;
}