.utility{
    height: 70px;
    background: white !important;
    color: #ddd !important;
}

.utility a.navbar-brand{
    color: rgb(71, 71, 71) !important;
}
.nav-item .nav-link-icon i{
    color: rgb(71, 71, 71) !important;
}

/* .nav-item.priv::before{
    content: 'cisajoais';
    display: inline-block;
    width:100px;
    height:40px;
} */
.custom-toggle.private::before{
    content: 'Private';
    position: absolute !important;
    top:0;
    left: -70px;
}
.custom-toggle.private::after{
    content: 'Public';
    position: absolute !important;
    top:0;
    right: -70px;
    color: blue;
    
}
.input-control{
    background: transparent;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid gray;
    padding:5px 5px 5px 20px;
}





.input-control:focus{
    outline: none;
}
.input-control::before{
    content: 'chsdc';
    position: absolute;
}


/* modal */
.modal-header{
    background: #153590;
}
.modal-title{
    color: #fff;
}


/* map */
#mapid { 
    height: 600px; 
}

/* .leaflet-draw{
    background: orange;
    width: 200px;
    transform: translateX(-200px);
    transition: transform .250s linear
}
.show-right{
    transform: translateX(0)
} */
/* a.leaflet-draw-draw-polyline{
    padding: 20px;
} */

.leaflet-draw-toolbar a{
    
    color: orange
}

.mycontrol{
    width: 250px;
    height: 350px;
    background: #fafbfd;
    color: #999;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.legend {
    padding: 6px 8px;
    width: 300px;
    min-height: 400px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
    transition: all .3s linear;
    opacity: 1 !important;
    
  }
  .trans-open{
    transform: translateX(-325px)
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  
  .legend .anchor{
    width: 30px;
    height: 30px;
    background: orange;
  /*   transform: translateX(200px); */
    position: absolute;
    top:0;
    left: 101%;
    padding: 5px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    pointer: cursor;
  }